<!-- 🏗️ ORGANISM: Formazioni Table -->
<div class="table-responsive">
    <table class="table table-hover bg-white" style="table-layout: fixed;">
        <thead>
            <tr class="bg-white border-bottom">
                <th scope="col" class="border-bottom-0" style="width: 30%;">
                    Nome
                </th>
                <th scope="col" style="width: 15%;">
                    Area
                </th>
                <th scope="col" style="width: 25%;">
                    Data/Ora
                </th>
                <th scope="col" style="width: 15%;">
                    Periodo
                </th>
                <th scope="col" style="width: 15%;">
                    Azioni
                </th>
            </tr>
        </thead>
        <tbody>
            {% for formazione in formazioni %}
                {% include 'molecules/formazione_row.html' %}
            {% endfor %}
            
            {% if not formazioni %}
            <tr>
                <td colspan="5" class="text-center py-5">
                    {% set name = 'bi bi-inbox' %}
                    {% set size = 'display-1 text-muted mb-3' %}
                    {% include 'atoms/icon.html' %}
                    <h5 class="text-muted mt-3">Nessuna formazione trovata</h5>
                    <p class="text-muted">Non ci sono formazioni per questo status.</p>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>